{% comment %} Dara {% endcomment %}

<script type="text/javascript">
  var allCustoms = [];
  var allNames = [];
  
  
  function setup(){
      {% for image in product.images %} 
      	{% if image != product.featured_image %}
        	var fullsrc = "{{ image.src | product_img_url: 'master'}}";
         	var customType = findCustomNameOnly(fullsrc);
         	addingToCustomList(customType);
			addFilenameToList(fullsrc);
         {% endif %}
      {% endfor %} 
    }
  
  function findCustomNameOnly(imgSrc){
		var firstSplit = imgSrc.split("/products/");
		var secondSplit = firstSplit[1].split("?");
		var thirdSplit = secondSplit[0].split(".");
      	var customType = (thirdSplit[0]);
      	return customType;
    }
          
	function addFilenameToList(imgSrc){
		var firstSplit = imgSrc.split("/products/");
		var secondSplit = firstSplit[1].split("?");
      	allNames.push(secondSplit[0]);
    }
  
  function addingToCustomList(aName){
      var match = new Boolean(0);
      for( var i = 0; i < allCustoms.length; i++){
        if(allCustoms[i] == aName){
         	match = Boolean(1);
        }
      }
      if(match == Boolean(0)){
        	allCustoms.push(aName);
       }
      
	}
    
	
	function findMaterialOnly(filename){	
		var pieces = filename.split(".");
      	var option = pieces[1];
      	return option;
    }
  
    function findSrc(filename){ 
      	var output = "";
      	{% for image in product.images %} 
        	var fullsrc = "{{ image.src | product_img_url: 'master'}}";
         	if(fullsrc.indexOf(filename) > -1){
           		output = fullsrc;
         	}
      	{% endfor %} 
        return output;
    }
         
    function addParts(selected){
		var selected = document.getElementById(selected);
      	var fullsrc = findSrc(selected.value);
        var num = (selected.id).split("matList");
      	var imgTagId = "addOnPic"+num[1];
      	document.getElementById(imgTagId).src=fullsrc;
    }
  
  
  
 window.onload = function() {
   setup();
   for(var i = 0; i < allCustoms.length; i++){
     var cName = "custom" + i;
     var selectOb = "matList" + i;
     document.getElementById(cName).innerHTML = allCustoms[i];
     var x = document.getElementById(selectOb)
     x.style.display = "block";
     var noneOp = document.createElement("option");
     noneOp.text = " - ";
     x.add(noneOp);
     
     for(var y in allNames){
       var z = allNames[y].split(".");
       if(allCustoms[i] == z[0]){
         var option = document.createElement("option");
     	 option.text = z[1];
         option.value = allNames[y];
     	 x.add(option);
         
       } 
     }
   }
   
	$('.main-image').height(document.getElementById("featImage").offsetHeight);
   
 }
</script>

<style>
  .materialList{
    display:none;
  }
  .main-image>img{
    display:block;
  	position:absolute;
    top:0;
  	left:0;
  	right:0;
  	margin:auto;
  }
</style>


{% comment %} Dara {% endcomment %}




{% comment %} Dara: START of Help button for toggle the Help Overlay{% endcomment %}  
          
                <button onmousedown="toggleOverlay()" style="position: absolute; right: 1%;">Help</button>
          
          {% comment %} END of Help button for toggle the Help Overlay{% endcomment %} 
          
          {% comment %} Dara: START of Help Overlay within the page {% endcomment %}  
          
                <div id="overlay">
                    <button onmousedown="toggleOverlay()" style="position: fixed; top: 120px; right:5px;">Close</button>
                    <div id="specialBox">
                      
                      <img src="{{ 'CustomizeHelp1.png' | asset_url }}">
                       
                      <br/>
                    </div>
                </div>
          
{% comment %} END of Help Overlay within the page {% endcomment %} 


  <style>
                div#overlay {
                  display: none;
                  z-index: 20;
                  background-color: black;
                  background: rgba(25, 25, 25, .5);
                  position: fixed;
                  width: 100%;
                  height: 100%;
                  top: 0px;
                  left: 0px;
                  text-align: center;
                }
                div#specialBox {
                  display: block;
                  position: relative;
                  z-index: 11;
                  top:100px;
                  background-color: white;
                  margin: 120px auto 0px auto;
                  max-width: 950px; 
                  max-height: 620px;
                  overflow:scroll;
                }
              </style>
              {% comment %} END of sheet for the objects of the Help Overlay {% endcomment %}
                
              {% comment %} START of actual Help Overlay function {% endcomment %}  
              
              
              <script type="text/javascript">
              function toggleOverlay(){
                  var overlay = document.getElementById('overlay');
                  
                  if(overlay.style.display == "block"){
                      overlay.style.display = "none";
                  } else {
                      overlay.style.display = "block";
                  }
              }
              </script>
  










{% comment %} You can change 'large' to 'grande' for larger gallery images {% endcomment %}
{% assign gallery_main_image_size = 'large' %}
<div class="gallery layout-column-half-left {% if product-detail.images.size > 1 %}has-thumbnails{% endif %}">
    <div class="main-image">
      
      
      
      
      
      <img id="featImage" src="{{ product-detail.featured_image | product_img_url: gallery_main_image_size }}" alt="{{ product-detail.featured_image.alt | escape }}"/>
      <img id="addOnPic0" src=""/> 
      <img id="addOnPic1" src=""/> 
      <img id="addOnPic2" src=""/> 
      <img id="addOnPic3" src=""/> 
      <img id="addOnPic4" src=""/> 
      <img id="addOnPic5" src=""/> 
      <img id="addOnPic6" src=""/> 
      <img id="addOnPic7" src=""/> 
      <img id="addOnPic8" src=""/> 
      <img id="addOnPic9" src=""/> 
      <img id="addOnPic10" src=""/> 
      <img id="addOnPic11" src=""/> 
      
    </div>
    
    
</div>


<div class="detail layout-column-half-right">
    {% include 'product-label' with product-detail %}
  
    
  <h1 class="title">
    {% if product_detail_in_block %}
    	<a href="{{ product_url }}">{{ product-detail.title }}</a>
    {% else %}
    	{{ product-detail.title }}
    {% endif %}
  </h1>
    <h2 class="h1-style price">
      {% if product-detail.variants.size == 1 and product-detail.compare_at_price_max > product-detail.price_min %}
      <span class="was-price">{{ product-detail.compare_at_price_max | money }}</span>
      {% endif %}
      {{ product-detail.price | money }}
  	</h2>
    {% if settings.prod_show_vendor %}<p>{{ settings.text_vendor }} {{ product-detail.vendor | link_to_vendor }}</p>{% endif %}
    
  
  
    <div class="product-form section">
      
      
      <div>
          <p id="custom0"></p>
          <select class="materialList" id="matList0" onchange="addParts(this.id)"></select>
          
          <p id="custom1"></p>
          <select class="materialList" id="matList1" onchange="addParts(this.id)"></select>
          
          <p id="custom2"></p>
          <select class="materialList" id="matList2" onchange="addParts(this.id)"></select>
          
          <p id="custom3"></p>
          <select class="materialList" id="matList3" onchange="addParts(this.id)"></select>
          
          <p id="custom4"></p>
          <select class="materialList" id="matList4" onchange="addParts(this.id)"></select>
          
          <p id="custom5"></p>
          <select class="materialList" id="matList5" onchange="addParts(this.id)"></select>
          
          <p id="custom6"></p>
          <select class="materialList" id="matList6" onchange="addParts(this.id)"></select>
          
          <p id="custom7"></p>
          <select class="materialList" id="matList7" onchange="addParts(this.id)"></select>
          
          <p id="custom8"></p>
          <select class="materialList" id="matList8" onchange="addParts(this.id)"></select>
          
          <p id="custom9"></p>
          <select class="materialList" id="matList9" onchange="addParts(this.id)"></select>
          
          <p id="custom10"></p>
          <select class="materialList" id="matList10" onchange="addParts(this.id)"></select>
          
          <p id="custom11"></p>
          <select class="materialList" id="matList11" onchange="addParts(this.id)"></select>
	<div>
      
      
      
      
      
        {% if product-detail.available %}
            <form class="form" action="/cart/add" method="post" enctype="multipart/form-data" data-product-id="{{ product-detail.id }}">
              
              {% comment %} Dylan: experimenting with adding extra info properties to customization form....! {% endcomment %}
              
              
              <div> {% comment %} Dylan: Our div {% endcomment %}
                
                
                
                
                
                <p class="field">
                  
                  <select id="single-pocket" name="properties[Single Pocket]">
                    <option value="-">    -     </option>
                    
                    {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                    
                  </select>
                  
                  <label>Single Pocket</label>
                </p>
                
                
                
                
                
              
              <p class="field">
                  
                  <select id="double-pocket" name="properties[Double Pocket]">
                    <option value="-">-</option>
                    {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                  </select>
                
                
                <label>Double Pocket</label>
                </p>
              
              <p class="field">
                
                <select id="oversized-pocket" name="properties[Oversized Pocket]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Oversized Pocket</label>
              </p>
              
             {% if product.tags contains 'sleeveless' %}
              
                {% comment %} Dylan: Deliberatly do nothing to avoid displaying sleeve customizations to sleeveless garments {% endcomment %}
              
              
             {% else %}
              
                      <p class="field">
                        
                        <select id="single-sleeve" name="properties[Single Sleeve]">
                          <option value="-">-</option>
                          {% for collection in product.collections %}
          
                            {% for product in collection.all_products %}
                        
                                {% if product.tags contains 'material' %}
                          
                          
                                  
                          <option value="{{ product.title }}">{{ product.title }}</option>
                        
                                {% endif %}
                        
                            {% endfor %}
                        
                        {% endfor %}}
                        </select>
                        
                        <label>Single Sleeve</label>
                      </p>
                      
                      <p class="field">
                        
                        <select id="both-sleeves" name="properties[Both Sleeves]">
                          <option value="-">-</option>
                          {% for collection in product.collections %}
          
                            {% for product in collection.all_products %}
                        
                                {% if product.tags contains 'material' %}
                          
                          
                                  
                          <option value="{{ product.title }}">{{ product.title }}</option>
                        
                                {% endif %}
                        
                            {% endfor %}
                        
                        {% endfor %}}
                        </select>
                        
                        <label>Both Sleeves</label>
                      </p>
                      
                      <p class="field">
                        
                        <select id="sleeves-cuffs" name="properties[Sleeves Cuffs]">
                          <option value="-">-</option>
                          {% for collection in product.collections %}
          
                            {% for product in collection.all_products %}
                        
                                {% if product.tags contains 'material' %}
                          
                          
                                  
                          <option value="{{ product.title }}">{{ product.title }}</option>
                        
                                {% endif %}
                        
                            {% endfor %}
                        
                        {% endfor %}}
                        </select>
                        
                        <label>Sleeves Cuffs</label>
                      </p>
              

              
              {% endif %}
              
              <p class="field">
                
                <select id="double-stripes" name="properties[Double Stripes]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Double Stripes</label>
              </p>
              
              <p class="field">
                
                <select id="back-panel" name="properties[Back Panel]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Back Panel</label>
              </p>
              
              <p class="field">
                
                <select id="front-panel" name="properties[Front Panel]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Front Panel</label>
              </p>
              
              <p class="field">
                
                <select id="half-chest-panel" name="properties[Half Chest Panel]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Half Chest Panel</label>
              </p>
              
              <p class="field">
                
                <select id="drop-tail" name="properties[Drop Tail]">
                  <option value="-">-</option>
                  {% for collection in product.collections %}
          
                      {% for product in collection.all_products %}
                  
                          {% if product.tags contains 'material' %}
                    
                    
                    		
                    <option value="{{ product.title }}">{{ product.title }}</option>
                  
                          {% endif %}
                  
                      {% endfor %}
                  
                  {% endfor %}}
                </select>
                
                <label>Drop Tail</label>
              </p>
              
              <p class="field">            
                <textarea id="specific-design" name="properties[Specific Design]"></textarea>
                <label>Specific Design</label>
              </p>
              
             </div>   {% comment %} Dylan: Our div {% endcomment %}
              {% comment %} Dylan: experimenting with adding extra info properties to customization form....! {% endcomment %}
              
              
                <div class="input-row">
            		<label for="quantity">{{ settings.text_prod_qty }}</label>
            		<input id="quantity" class="select-on-focus" name="quantity" value="1" size="2" />
            	</div>
            	<div class="input-row">
            	{% if product-detail.variants.size > 1 %}
            		{% if product-detail.options.size == 1 and settings.prod_show_single_opt %}
            			<label for="product-select">{{ product-detail.options.first }}</label>
                    {% endif %}
                    <select id="product-select-{{ product-detail.id }}" name="id">
                    {% for variant in product-detail.variants %}
                        <option value="{{ variant.id }}">{{ variant.title | escape }}</option>
                    {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="id" value="{{ product-detail.variants.first.id }}" />
                    {% if settings.prod_show_single_var_name %}
                    <label class="singleopt">{{ product-detail.options.first }}: {{ product-detail.variants.first.title }}</label>
                    {% endif %}
            	{% endif %}
            	</div>
            	<div class="input-row">
            		<input type="submit" value="{{ settings.text_add_to }}" />
            	</div>
            </form>
        {% else %}
            <p><em>This product is unavailable</em></p>
        {% endif %}
    </div>
    
    {% if template contains 'product' and product_detail_in_block == false %}
        {% if settings.prod_desc_pos == 'beside' %}
            <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %}">{{ product-detail.description }}</div>
        {% endif %}
        {% include 'social-sharing' %}
  	{% else %}
  		<a class="more" href="{{ product_url }}">More Details &rarr;</a>
    {% endif %}
</div>




{% if template contains 'product' and settings.prod_desc_pos == 'below' and product_detail_in_block == false %}
    <div class="description user-content {% if settings.lightbox_imgs %}lightboximages{% endif %} padded-row">{{ product-detail.description }}</div>
{% endif %}

{% unless is_tag_related_product %}
<script>
  addProductJSON({{ product-detail | json }});
</script>
{% endunless %}
      
      
      
      
      
   