{% comment %} Dylan: This is our copied class to display customizations on customizable products  {% endcomment %}



<div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
    <meta itemprop="image" content="{{ product.featured_image.src | product_img_url: 'grande' }}" />
    <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
    <meta itemprop="price" content="{{ product.price | money_without_currency | strip_html }}" />
  
       

  
    {% if product.available %}
    	<link itemprop="availability" href="http://schema.org/InStock" />
    {% else %}
    	<link itemprop="availability" href="http://schema.org/OutOfStock" />
    {% endif %}
    
    {% capture tag_html %}
    {% if settings.prod_show_tags %}
    {% for tag in product.tags %}
        {% unless tag contains 'meta-' %}
        <li>{{ tag | link_to_tag: tag }}</li>
        {% endunless %}
    {% endfor %}
    {% endif %}
    {% endcapture %}
    
  
            {% comment %}
              <div class="container">
                  <div class="page-header cf">
                      {% if collection %}
                      <div class="social-area">
                          <span class="nextprev">
                          {% if collection.previous_product %}
                              <a class="control-prev" href="{{ collection.previous_product }}">Previous</a>
                          {% endif %}
                          {% if collection.previous_product and collection.next_product %} / {% endif %}
                          {% if collection.next_product %}
                              <a class="control-next" href="{{ collection.next_product }}">Next</a>
                          {% endif %}
                          </span>
                      </div>
                      {% endif %}
                  </div>
              </div>
            {% endcomment %}
  
  
  
  
      
{% comment %} Dylan: display materials code start {% endcomment %} 
  
  
  <div style="margin: 30px 0px 0px 0px"> 
    <div class="anyClass" style="margin-left:auto; margin-right:auto;">
      <ul>
          
            {% for collection in product.collections %}
            
                {% for product in collection.all_products %}
            
                    {% if product.tags contains 'material' %}
              
                      <li >
                              
                              
                        <div style="margin-right:35px; margin-left:35px; margin-bottom:30px; height:130px">
                                  
                            <img src="{{ product.featured_image | product_img_url }}"/>
                            <br/>
                            {{ product.title }}
                        </div>
                              
                      </li>
               
            
                    {% endif %}
            
                {% endfor %}
            
            {% endfor %}
        
      </ul> 
    </div>
    
    <div style="margin: 0 auto; width:305px; ">
    
      <button class="prev" style="float: left"><<</button>
      <button class="next" style="float: right">>></button>
      
    </div>  
    
  </div>
  
  
  
  <hr style="margin:0px 0px 15px 0px;">
 
  
  
  {% comment %} Dylan: display materials code end {% endcomment %}
  
 
  
  
    
    {% if tag_html contains 'a' %}
        <div class="tags nav-row spaced-row hidden">
            <ul>{{ tag_html }}</ul>
        </div>
    {% endif %}
    
    {% comment %}
        GALLERY, TITLE, DESCRIPTION IS ALL IN product-detail.liquid
        It is included here on the product page, and also used in the slide-down feature on the collection page
    {% endcomment %}

  
    <div id="main-product-detail" class="product-detail spaced-row container cf">
        {% assign product_detail_in_block = false %}
        {% include 'product-detail' with product %}
    </div><!-- /.product-detail -->

  
</div><!-- /.product-page-layout -->









{% comment %}  to be moved later {% endcomment %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ 'jcarousellite.js' | asset_url }}"></script>
		<script>
          $( document ).ready(function() {
			$(function() {
			$(".anyClass").jCarouselLite({
				btnNext: ".next",
				btnPrev: ".prev"
			});
		});
          });
		</script>